<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-view.css') }}">

</head>
<body>
    <div class="container">
        <h2>View Reservation</h2>
        <img src="{{ url_for('static', filename='img-2.jpg') }}" alt="Himachal Pradesh">
        <div class="reservation-details">
            <h3>Reservation Details</h3>
            <p><strong>Name:</strong> Nik</p>
            <p><strong>Email:</strong> a@b.c</p>
            <p><strong>Phone:</strong> 909090909090</p>
            <p><strong>Date:</strong> 2024-05-10</p>
            <p><strong>Time:</strong> 14:00</p>
            <p><strong>Number of Guests:</strong> 4</p>
            <p><strong>Place:</strong> Himachal</p>
        </div>
        <div class="itinerary">
            <h3>Itinerary</h3>
            <p><strong>Day 1:</strong> Arrival in Himachal Pradesh</p>
            <p><strong>Day 2:</strong> Explore Shimla</p>
            <p><strong>Day 3:</strong> Visit Manali</p>
            <p><strong>Day 4:</strong> Trekking in the Himalayas</p>
            <p><strong>Day 5:</strong> Departure</p>
        </div>
        
    </div>
</body>
</html>
